$doc-margin-top: 20px;
.doc-view {
  .doc-content_wrapper {
    text-align: center;
    margin-top: $doc-margin-top;
    .doc-content {
      .doc-page {
        rect {
          fill: $white;
          stroke-width: 1px;         
        }
        text {
          dominant-baseline: auto;
        }
      }
      .doc-blocks {
        rect {
          fill-opacity: 0.2;
        }
      }
    }  
  }
}

.tooltip {
  white-space: pre;
  width: auto;
}

.footer-info {
  float: right;
  font-color: $footer-font-color;
  font-size: $footer-font-size;
  padding-right: 10px;
}