<!DOCTYPE html>
<html>
<head>
  <title>Arthur</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="{{ url_for("static", filename="css/app.css") }}" />
  <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/datatables/media/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/datatables/media/js/dataTables.foundation.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/sockjs-client/dist/sockjs.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/underscore/underscore-min.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/knockout/dist/knockout.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/d3/d3.min.js') }}"></script>
  <script src="{{ url_for("static", filename="js/app.min.js")}}"></script>
</head>
<body>
  <div id="main_area" class="main">
    <div class="workspace" id="workspace">
      {% include 'workspace/doc_list.html' %}
      {% include 'workspace/doc_view.html' %}
    </div>
  </div>
  <div id="console_area" class="console_area">
    <h1 class="window-head">Console <a class="minimize" href="#" data-bind="click: resizeConsole">&nbsp;</a></h1>
    <div class="console" id="console"></div>
    <div class="footer">
      <div class="footer-info" data-bind="text: footerInfo">x: 100, y: 200</div>
      <p>arthur.ai - Made in 2016 by <a href="http://teguhwijaya.com" target="_blank">Jay</a></p>
    </div>
  </div>
</body>
</html>
